*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, section p{
    text-align: center;
    margin-top: 1em;
}

h1{
    font-weight: bold;
    color: #CF2E75;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

.card{
    background-color: #0F0E17;
    width: calc(100%/3);
    float: left;  
    box-shadow: 1px 1px 1px 1px lightgrey;
}

img{
    float: left;
    width: 100px;
    height: 100px;
    
}
.name{
    color: white;
    font-weight: bolder;
}

.role{
    color: white;
}
.email{
    color: #8EC6EF;
}

.clearfix::after{
	content:"";
	display: table;
	clear: both;
}





































